In [70]:
import pandas as pd
tweets_one = pd.read_csv("TweetsOne.csv")
tweets_two = pd.read_csv("TweetsTwo.csv")
tweets_three = pd.read_csv("TweetsThree.csv")
tweets_four = pd.read_csv("TweetsFour.csv")

In [71]:
tweets = [tweets_one, tweets_two, tweets_three, tweets_four]

In [72]:
all_tweets = pd.concat(tweets)

In [73]:
all_tweets_en = all_tweets.loc[all_tweets['language']=='en']

In [74]:
def success_category(row):
    if row.retweet_count < 500:
        return "Low"
    elif row.retweet_count > 500:
        return "High"
def strip_usernames(row):
    try:
        return row.tweet_text.split(':', 1)[1]
    except:
        return (row.tweet_text)

In [75]:
categories = all_tweets_en.apply(lambda row: success_category(row), axis=1)

new_text = all_tweets_en.apply(lambda row: strip_usernames(row), axis=1)
all_tweets_en_categories = pd.DataFrame()
all_tweets_en_categories["text"] = new_text
all_tweets_en_categories["retweet_count"] = all_tweets_en["retweet_count"]
all_tweets_en_categories["success_category"] = categories

In [76]:
high_success = all_tweets_en_categories.loc[all_tweets_en_categories['success_category']=='High']

In [77]:
low_success = all_tweets_en_categories.loc[all_tweets_en_categories['success_category']=='Low']

In [78]:
high_success_txt = high_success.drop(high_success.columns[[1,2]], axis=1)

In [79]:
high_success_txt.head()

                                                 text
18   this post is so fucking funny https://t.co/Rm...
20   I’m just finding this so funny. Where you goi...
24                  You move funny I move out the way
29                  You move funny I move out the way
44   "What I desperately, desperately need is for ...

In [83]:
high_success_txt.to_csv(r'high_success.csv', header=None, index=None, sep='\t', mode='a')

In [81]:
low_success_txt = high_success.drop(high_success.columns[[1,2]], axis=1)

In [84]:
low_success_txt.to_csv(r'low_success.csv', header=None, index=None, sep='\t', mode='a')