In [9]:
import pandas as pd
df=pd.read_csv("TweetsThree.csv")
df.head()

,Unnamed: 0,id,tweet_text,created_at,source,public_metrics,language,retweet_count,reply_count,like_count,quote_count
0,0,1514444290008629251,@Lakers @hornets start discussing the westbroo...,2022-04-14 03:23:50+00:00,Twitter for iPhone,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",en,0,0,0,0
1,1,1514444286716174348,"Valke vs. Hornets score, takeaways: Atlanta pe...",2022-04-14 03:23:49+00:00,WordPress.com,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",en,0,0,0,0
2,2,1514444285915004930,@TheHoopCentral it will be best for both parti...,2022-04-14 03:23:49+00:00,Twitter for iPhone,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",en,0,0,0,0
3,3,1514444277094690820,RT @62PointCurry: hornets went out sad ðŸ’€,2022-04-14 03:23:47+00:00,Stephen Are Cat,"{'retweet_count': 1, 'reply_count': 0, 'like_c...",en,1,0,0,0
4,4,1514444273655382028,RT @TUSidelines: Shenendehowa graduate Kevin H...,2022-04-14 03:23:46+00:00,ZTTwitterStreamingApp,"{'retweet_count': 1, 'reply_count': 0, 'like_c...",en,1,0,0,0

In [10]:
top_tweets = df[(df["retweet_count"] > 400) & (df["like_count"] > 400)]
print(len(top_tweets))
top_tweets.head()

3

,Unnamed: 0,id,tweet_text,created_at,source,public_metrics,language,retweet_count,reply_count,like_count,quote_count
18745,18745,1514406478840582151,All the charlotte hornets roster do is make mu...,2022-04-14 00:53:35+00:00,Twitter for iPhone,"{'retweet_count': 538, 'reply_count': 33, 'lik...",en,538,33,3024,90
22329,22329,1514397833369112578,The Hornets really had to walk to the arena fo...,2022-04-14 00:19:14+00:00,Twitter Media Studio,"{'retweet_count': 410, 'reply_count': 154, 'li...",en,410,154,4158,257
40729,40729,1514246487978524673,Miles Bridges is expected to command a maximum...,2022-04-13 14:17:50+00:00,Twitter for iPhone,"{'retweet_count': 769, 'reply_count': 639, 'li...",en,769,639,12694,1702